@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Play&display=swap');
/* font-family: 'Righteous', cursive;
font-family: 'Play', sans-serif; */
body {
    background-color: #CCC;
}
/* Nav */
nav h1 {
    font-size: 3rem;
    margin-top: auto;
    color: #85FF9E;
    text-shadow: 1px 1px 3px #000;
    font-family: 'Lobster Two', cursive;
}
.navbar {
    background-color: #999;
}
#mynav ul>li {
    background-color: #050;
    color:#777
}
#mynav .active>a{
    background-color: #070;
    color: #AAA;
}
#mynav ul>li>a:hover{
    background-color: #090;
    color: #FFF;
}
/* Hero */
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.hero {
    animation: rotation 10000s infinite linear;
}
/* Portfolio */
#portfolio h2{
    color: #070;
    border-bottom: 2px solid #030;
    width:120rem;
    margin:auto;
    margin-bottom:20px;
}
.btn-primary {
    font-family:"Play", sans-serif;
    color:#fff;
    background-color:#070;
    border-color: #050;
}
#portfolio p {
    font-family:"Play", sans-serif;
    color: #050;
    text-shadow: 1px 1px 3px #030;
}