@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Play&display=swap');
/* font-family: 'Righteous', cursive;
font-family: 'Play', sans-serif; */
body {
    background-color: #CCC;
}
/* Nav */
nav h1 {
    font-size: 3rem;
    margin-top: auto;
    color: #85FF9E;
    text-shadow: 1px 1px 3px #000;
    font-family: 'Lobster Two', cursive;
}
.navbar {
    background-color: #999;
}
#mynav ul>li {
    background-color: #050;
    color:#777
}
#mynav .active>a{
    background-color: #070;
    color: #AAA;
}
#mynav ul>li>a:hover{
    background-color: #090;
    color: #FFF;
}
/* Hero */
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.hero {
    animation: rotation 10000s infinite linear;
}
/* Portfolio */
#portfolio h2{
    color: #070;
    border-bottom: 2px solid #030;
    width:80%;
    margin:auto;
    margin-bottom:20px;
}
.btn-primary {
    font-family:"Play", sans-serif;
    color:#fff;
    background-color:#070;
    border-color: #050;
}
#portfolio p {
    font-family:"Play", sans-serif;
    text-align: center;
    color: #050;
    text-shadow: 1px 1px 3px #030;
}
/* Resume */
#resume h2 {
    color: #070;
    border-bottom: 2px solid #030;
    border-top: 2px solid #030;
    width:80%;
    margin:auto;
    margin-bottom:20px;
    
}
#resume h3 {
    color: #050;
}
#resume p {
    color: #030;
}
#resume img {
    border: 3px inset #0a0;
}
/* Carousel */
#mycarousel {
    background-color: #020;
}
.item{
    height: 100vh;
}
.carouselimage {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
#carouselimg1{
    background-image: url("../img/glasses.jpg");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
#carouselimg2{
    background-image: url("../img/glowup.jpg");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
#carouselimg3{
    background-image: url("../img/wrasslebudz.jpg");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
#mycarousel h2{
    color: #0a0;
    text-shadow: 1px 1px 1px #000;
}