body {
    bgc: #aaa
}
/* Nav */
nav h1 {
    font-size: 2rem;
    margin-top: auto;
    color: #85FF9E;
    text-shadow: 1px 1px 3px #000;
}
.navbar {
    background-color: #999;
}
#mynav ul>li {
    background-color: #050;
}
#mynav .active>a{
    background-color: #070;
    color: #FFF;
}
#mynav ul>li>a:hover{
    background-color: #0a0;
    color: #FFF;
}
/* Hero */
.hero {
    animation: rotation 300s infinite linear;
}
/* Portfolio */
#portfolio h2{
    color: #070;
}
#portfolio h3 {
    margin: auto;
    color: #fff;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 20px;
    margin: auto;
    margin-top: 1rem;
    height: 3rem;
    width: 12rem;
    background-color: #050;
    font-size: 2rem;
    font-family:"Impact", sans-serif;
    text-shadow: 1px 1px 5px #000
}
#portfolio h3:hover{
    background-color: #0a0;
}








@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }